
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* align images and overlap for Smatwatch case,Time and HearRate */
.parent{
    width:400px;
    height:300px;
    position:relative;
    z-index:0;
	object-fit: cover;

}

.inner{
	width:100px;
    height:100px;
    position:absolute;
    z-index:1;
	top: 170px;
	left: 260px;
}

#pulse{
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 26px;
  text-align: center;
  position:absolute;
  z-index:1;
  top: 250px;
  left: 290px;
}

/*clock*/
#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 26px;
  text-align: center;
  position:absolute;
  z-index:1;
  top: 195px;
  left: 245px;
 
}

/* Color Selection for SmartWatch Case*/
.orangebutton {
  position: relative;
  background-color: #DF4502;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 60px;
  height: 40px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.orangebutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.orangebutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.bluebutton {
  position: relative;
  background-color: #43438A;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 60px;
  height: 40px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.bluebutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.bluebutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.blackbutton {
  position: relative;
  background-color: #3D2D26;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 60px;
  height: 40px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.blackbutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.blackbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.pinkbutton {
  position: relative;
  background-color: #FFCCCC;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
   width: 60px;
  height: 40px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.pinkbutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.pinkbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.purplebutton {
  position: relative;
  background-color: #B25F5F;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
   width: 60px;
  height: 40px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.purplebutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.purplebutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

